name: Build and Test

on:
  push:

jobs:
    linux_release:
      name: Linux Release
      if: "!contains(github.event.head_commit.message, '[skip ci]')"
      runs-on: ubuntu-20.04
      steps:
        - name: Checkout sources
          uses: actions/checkout@v2

        - name: Install dependencies
          run: |
            sh .github/install_dependencies.sh ~/.local
            echo "PATH=~/.local/bin:$PATH" >> $GITHUB_ENV

        - name: Configure project
          run: cmake -S . -B .build -DCMAKE_TOOLCHAIN_FILE=cmake/toolchain/clang11_linux_x86_64.cmake -DCMAKE_BUILD_TYPE=Release -DOPENGL_TESTS=OFF

        - name: Build project
          run: cmake --build .build -j

        - name: Run tests and memcheck
          run: cd .build; ctest --output-on-failure

    linux_debug:
      name: Linux Debug
      if: "!contains(github.event.head_commit.message, '[skip ci]')"
      runs-on: ubuntu-20.04
      steps:
        - name: Checkout sources
          uses: actions/checkout@v2

        - name: Install dependencies
          run: |
            sh .github/install_dependencies.sh ~/.local
            echo "PATH=~/.local/bin:$PATH" >> $GITHUB_ENV

        - name: Configure project
          run: cmake -S . -B .build -DCMAKE_TOOLCHAIN_FILE=cmake/toolchain/clang11_linux_x86_64.cmake -DCMAKE_BUILD_TYPE=Debug -DOPENGL_TESTS=OFF

        - name: Build project
          run: cmake --build .build -j

        - name: Run tests and memcheck
          run: cd .build; ctest --output-on-failure

    windows_release:
      name: Windows Release
      if: "!contains(github.event.head_commit.message, '[skip ci]')"
      runs-on: windows-2019
      steps:
        - name: Checkout sources
          uses: actions/checkout@v2

        - name: Configure project
          run: cmake -S . -B .build \
                -DOPENGL_TESTS=OFF

        - name: Build project
          run: cmake --build .build --config Release -j

        - name: Run tests
          run: cd .build; ctest --output-on-failure -C Release

    windows_debug:
      name: Windows Debug
      if: "!contains(github.event.head_commit.message, '[skip ci]')"
      runs-on: windows-2019
      steps:
        - name: Checkout sources
          uses: actions/checkout@v2

        - name: Configure project
          run: cmake -S . -B .build \
                -DOPENGL_TESTS=OFF

        - name: Build project
          run: cmake --build .build --config Debug -j

        - name: Run tests
          run: cd .build; ctest --output-on-failure -C Debug
