name: Static Code Analysis

on:
  push:

jobs:
  clang-format:
    name: Clang Format
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sh .github/install_dependencies.sh ~/.local
          echo "PATH=~/.local/bin:$PATH" >> $GITHUB_ENV

        # get toolchain and external dependencies
      - name: Configure project
        run: cmake -S . -B .build -DCMAKE_TOOLCHAIN_FILE=cmake/toolchain/clang11_linux_x86_64.cmake

      - name: Run clang-format
        run: bash .github/run-clang-format.sh cpp/ -v

  clang-tidy:
    name: Clang Tidy
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sh .github/install_dependencies.sh ~/.local
          echo "PATH=~/.local/bin:$PATH" >> $GITHUB_ENV

        # get toolchain and external dependencies
      - name: Configure project
        run: cmake -S . -B .build -DCMAKE_TOOLCHAIN_FILE=cmake/toolchain/clang11_linux_x86_64.cmake

      - name: Run clang-tidy
        run: bash .github/run-clang-tidy.sh cpp/ -v
